.header {
  width: 100%;
  background-color: white; }
  .header .header_box {
    width: 1190px;
    overflow: hidden;
    margin: 0 auto;
    line-height: 90px;
    font-size: 16px;
    color: #333;
    background-color: white; }
    .header .header_box .logo_and_regis {
      display: inline-block;
      width: 400px; }
      .header .header_box .logo_and_regis img {
        width: 250px;
        height: 33px;
        margin: 28px 0 0;
        float: left;
        cursor: pointer; }

.login_content_box {
  width: 100%; }
  .login_content_box .login_content {
    min-width: 1190px;
    width: 100%;
    height: 610px;
    z-index: 1;
    margin: 0 auto;
    background: transparent url(../img/hp_login.jpg) no-repeat scroll 50% 0; }
    .login_content_box .login_content .login_content_box {
      width: 1190px;
      height: 100%;
      margin: 0 auto;
      position: relative; }
      .login_content_box .login_content .login_content_box .login_content_items {
        width: 300px;
        height: 380px;
        padding: 0 30px;
        background-color: white;
        z-index: 3;
        position: absolute;
        right: 30px;
        top: 20%; }
        .login_content_box .login_content .login_content_box .login_content_items .login_sephora {
          width: 100%;
          height: 32px;
          line-height: 32px;
          color: black;
          font-size: 18px;
          margin-top: 20px;
          letter-spacing: 2px; }
        .login_content_box .login_content .login_content_box .login_content_items .error_tip {
          width: 100%;
          height: 32px;
          margin: 5px 0;
          color: #ff0700;
          font-size: 12px; }
        .login_content_box .login_content .login_content_box .login_content_items .login_phone_num, .login_content_box .login_content .login_content_box .login_content_items .passWord_num {
          width: 100%;
          height: 32px;
          line-height: 32px;
          border: 1px solid #cccccc;
          color: #cccccc;
          box-sizing: border-box;
          display: flex;
          flex: 1;
          margin-bottom: 20px; }
          .login_content_box .login_content .login_content_box .login_content_items .login_phone_num .people_photo, .login_content_box .login_content .login_content_box .login_content_items .passWord_num .people_photo, .login_content_box .login_content .login_content_box .login_content_items .login_phone_num .error_img_tit, .login_content_box .login_content .login_content_box .login_content_items .passWord_num .error_img_tit, .login_content_box .login_content .login_content_box .login_content_items .passWord_num .passWord_photo {
            width: 20px;
            height: 20px;
            background: url(../img/LoginIn-icon.png);
            background-position: 0 -20px;
            margin: 5px; }
          .login_content_box .login_content .login_content_box .login_content_items .login_phone_num .phone, .login_content_box .login_content .login_content_box .login_content_items .passWord_num .phone, .login_content_box .login_content .login_content_box .login_content_items .passWord_num .passWord {
            width: 243px;
            border-right: 1px solid b;
            outline: none;
            border: none;
            color: #767676;
            font-size: 14px; }
          .login_content_box .login_content .login_content_box .login_content_items .login_phone_num .error_img_tit, .login_content_box .login_content .login_content_box .login_content_items .passWord_num .error_img_tit {
            width: 18px;
            height: 18px;
            background-position: -20px  -18px;
            display: none; }
        .login_content_box .login_content .login_content_box .login_content_items .passWord_num .passWord_photo {
          background-position: 0 0; }
        .login_content_box .login_content .login_content_box .login_content_items .forget_password {
          display: inline-block;
          color: #919191;
          margin-bottom: 20px;
          font-size: 14px; }
        .login_content_box .login_content .login_content_box .login_content_items .forget_password:hover {
          color: red; }
        .login_content_box .login_content .login_content_box .login_content_items .login_btn {
          width: 100%;
          height: 40px;
          line-height: 40px;
          letter-spacing: 2px;
          font-size: 16px;
          color: white;
          text-align: center;
          background-color: #999999;
          cursor: pointer; }
        .login_content_box .login_content .login_content_box .login_content_items .read_change {
          width: 100%;
          font-size: 12px;
          line-height: 32px;
          letter-spacing: -1px;
          overflow: hidden; }
          .login_content_box .login_content .login_content_box .login_content_items .read_change .check_box {
            margin-top: 10px;
            float: left; }
          .login_content_box .login_content .login_content_box .login_content_items .read_change p {
            float: left; }
        .login_content_box .login_content .login_content_box .login_content_items .read_change p:nth-child(2) {
          color: #919191; }
        .login_content_box .login_content .login_content_box .login_content_items .read_change p:nth-child(4) {
          color: #919191; }
        .login_content_box .login_content .login_content_box .login_content_items .read_change p:nth-child(3) {
          cursor: pointer; }
        .login_content_box .login_content .login_content_box .login_content_items .read_change p:nth-child(5) {
          cursor: pointer; }
      .login_content_box .login_content .login_content_box .free_regis {
        width: 100%;
        height: 50px;
        color: #919191;
        font-size: 12px;
        margin-top: 10px; }
        .login_content_box .login_content .login_content_box .free_regis .free_regis_left {
          float: left; }
          .login_content_box .login_content .login_content_box .free_regis .free_regis_left li {
            float: left;
            width: 24px;
            height: 24px; }
          .login_content_box .login_content .login_content_box .free_regis .free_regis_left li:nth-child(1) {
            background: url(../img/LoginIn-icon.png);
            background-position: -56px 0px; }
          .login_content_box .login_content .login_content_box .free_regis .free_regis_left li:nth-child(2) {
            background: url(../img/LoginIn-icon.png);
            background-position: -56px -24px;
            margin: 0 10px; }
          .login_content_box .login_content .login_content_box .free_regis .free_regis_left li:nth-child(3) {
            background: url(../img/LoginIn-icon.png);
            background-position: -56px 24px; }
        .login_content_box .login_content .login_content_box .free_regis .free_regis_right {
          float: right; }
          .login_content_box .login_content .login_content_box .free_regis .free_regis_right li {
            float: left; }
          .login_content_box .login_content .login_content_box .free_regis .free_regis_right li:nth-child(2) a {
            float: left;
            color: #f12526; }
          .login_content_box .login_content .login_content_box .free_regis .free_regis_right li:nth-child(2) a:hover {
            text-decoration: underline; }
          .login_content_box .login_content .login_content_box .free_regis .free_regis_right li:nth-child(2) span {
            float: left;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-left-color: #f12526;
            margin: 3px 0 0 2px; }

/*# sourceMappingURL=login.css.map */
