@charset "utf-8";

.header{
	width:100%;
	background-color:white;
	.header_box{
		background-color:white;
		width:1190px;
		overflow: hidden;
		margin:0 auto;
		line-height:90px;
		font-size:16px;
		color: #333;
		.logo_and_regis{
			display:inline-block;
			width:400px;
			img{
				width: 250px;
				height: 33px;
				margin: 28px 0 0;
				float: left;
				cursor: pointer;
			}
			span{
				margin-left:10px;
			}
		}
		.has_login{
			display: inline-block;
			float:right;
			a{
				color: #333;
			}
			.im_login{
				display: inline-block;
				width:100px;
				position:relative;
				.dire_trangle{
					display: inline-block;
					float:left;
					width:0;
					height: 0;
					border-top: 4px solid transparent;
					border-left: 5px solid #000;
					border-bottom: 4px solid transparent;
					margin-top: 5px;
					margin-left: 2px;
					position:absolute;
					left: 65px;
					top: 36px;
				}
			}
			.im_login:hover a{
				cursor: pointer;
				color: #cb3733;
				text-decoration: underline;
				border-left-color: #cb3733;
			}
		}
	}
}
.regins_content_box{
	width:100%;
	float: left;
	min-width: 1190px;
	height: 804px;
	background: transparent url(../img/login_Bg.jpg) no-repeat scroll 50% 0;
	.regins_content{
		width:1190px;
		height:100%;
		margin:0 auto;
		.regins_content_items{
			width:600px;
			height:500px;
			margin-left: 80px;
			margin-top:60px;
			font-size:14px;
			padding:10px 0;
			.picture_verify{
				position: relative;
				p{
					text-align: center;
					width:80px;
					float:left;
					line-height:32px;
				}
				.input_text{
					width:300px;
					height:30px;
					float:left;
					margin:0 10px 0 20px;
					outline: none;
					border:1px solid #cccccc;
					text-indent: 20px;
				}
				.picture_code{
					display: inline-block;
					width: 120px;
					height:32px;
					line-height: 32px;
					letter-spacing: 5px;
					font-size:16px;
					text-align:center;
					cursor: pointer;
					border:1px solid #ccc;
				}
				.error_img_tit{
					display:inline-block;
					width:18px;
					height: 18px;
					background:url(../img/LoginIn-icon.png) -20px -18px; 
					position: absolute;
					left: 370px;
					top: 8px;
					display:none;
				}
			}
			.picture_errorTip{
				width: 620px;
				margin-left: 110px;
				height: 34px;
				line-height: 24px;
			}
			
			.phone_verify{
				overflow: hidden;
				@extend .picture_verify;
				position:relative;
				.get_random_code{
					display:inline-block;
					background: #ccc;
					color: #fff;
					width: 120px;
					height:32px;
					text-align:center;
					line-height: 32px;
					cursor: pointer;
				}
			}
			.phone_errorTip{
				overflow:hidden;
				height:34px;
				@extend .picture_errorTip;
			}
			
			//手机号验证码
			.phone_code_verify{
				@extend .phone_verify;
			}
			.phone_code_errorTip{
				@extend .phone_errorTip;
			}
			
			//密码
			.passWord{
				@extend .phone_verify;
			}
			.passWord_errorTip{
				@extend .phone_errorTip;
			}
			
			//确认密码
			.re_password_verify{
				@extend .phone_verify;
			}
			.re_password_errorTip{
				@extend .phone_errorTip;
			}
			
			//注册按钮
			.regis_btn{
				margin-left: 100px;
				width: 300px;
				height: 30px;
				line-height: 30px;
				background-color: #999;
				color: #fff;
				font-size: 14px;
				letter-spacing: 2px;
				text-align: center;
				cursor: pointer;
			}
			.read_change{
				margin-left:100px;
				font-size:12px;
				line-height:30px;
				.check_box{
					width:16px;
					height:16px;
					float:left;
					margin-top:6px;
				}
				span{
					color: #9d9d9d;
				}
				a{
					color:black;
				}
				a:hover{
					color:#ed2e26;
				}
			}
			//使用邮箱
			.use_email_box{
				width: 300px;
				margin-left: 100px;
				.use_email{
					float:right;
					text-align: center;
					width:79px;
					text-decoration: underline;
					color: #9d9d9d;
					font-size:12px;
					li{
						display:inline-block;
					}
					li:nth-child(1){
						float:left;
					}
					li:nth-child(2){
						width: 0;
						height: 0;
						border-top: 4px solid transparent;
						border-left: 5px solid #9d9d9d;
						border-bottom: 4px solid transparent;
						margin-top: 2px;
						margin-left: 2px;
					}
				}
				.use_email:hover li{
					cursor: pointer;
					color: #cb3733;
					text-decoration: underline;
					border-left-color: #cb3733;
				}
			}
		}
	}
}

